<template>
 
</template>

<script>
import Toggle from './../shared/Toggle'
import { mapActions, mapState } from 'vuex'

export default {
  computed: mapState({
    promotions: state => state.promotions.all
  }),
  methods: mapActions([
    'getPromotions',
    'toggleCoupon'
  ]),
  components: { Toggle },
  created () {
    this.getPromotions()
  }
}
</script>
