<template>
  <div>
    <page-header></page-header>
<div class="container-fluid">

    <div class="row mt-1">

        <nav id="sideNav" class="col-sm-2">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">Account</a>
                <a href="#" class="list-group-item">Home</a>
                <a href="#" class="list-group-item">Item Management</a>                
              </div> 
              <br/>
               <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">Products & Services</a>
                <a href="#" class="list-group-item">Phones </a>
                <a href="#" class="list-group-item">Fashions</a>
                <a href="#" class="list-group-item">Computers</a>
                <a href="#" class="list-group-item">Tablets</a>
                <a href="#" class="list-group-item">Books</a>
                
              </div> 
               
        </nav>        

        <div class="col-sm-7">
          <product-list></product-list>
        </div>

        <div class="col-sm-3">
          <shopping-cart></shopping-cart>
        </div>

        

      </div>
      <footer class="container-fluid text-center">
          <page-footer></page-footer>
        </footer>
    </div>

  </div>
</template>

<script>
import PageFooter from './../shared/PageFooter'
import PageHeader from './../shared/PageHeader'
import Coupons from './Coupons'
import ProductList from './products/ProductList'
import ShoppingCart from './shopping-cart/ShoppingCart'

export default {
  name: 'shop',
  components: {
    PageHeader,
    PageFooter,
    Coupons,
    ProductList,
    ShoppingCart
  }
}
</script>
