<template>
  <nav class="navbar navbar-success bg-faded" v-if="profile.limit">
    <div class="container">
      <a class="navbar-brand" href="/"></a>

      <span class="navbar-text float-xs-right">
        &copy;Store Manager SPA 2017 
      </span>
    </div>
  </nav>
</template>

<script>
import ShoppingCartLimit from './../shop/shopping-cart/ShoppingCartLimit'
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      profile: state => state.profile.data
    }),
    fullName () {
      return `${this.profile.firstName} ${this.profile.lastName}`
    }
  },
  methods: mapActions([
    'getProfile'
  ]),
  components: { ShoppingCartLimit },
  created () {
    this.getProfile()
  }
}
</script>
