<template>
  <nav class="navbar navbar-success bg-faded " style="background-color:#23629F;color:#ffffff;"v-if="profile.limit">
    <div class="container-fluid">
      <a style="color:#ffffff;" class="navbar-brand" href="/">Store Manager SPA</a>

      <span class="navbar-text float-xs-right">
        Hello <strong>{{fullName}}</strong>
      </span>
    </div>
  </nav>
</template>

<script>
import ShoppingCartLimit from './../shop/shopping-cart/ShoppingCartLimit'
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      profile: state => state.profile.data
    }),
    fullName () {
      return `${this.profile.firstName} ${this.profile.lastName}`
    }
  },
  methods: mapActions([
    'getProfile'
  ]),
  components: { ShoppingCartLimit },
  created () {
    this.getProfile()
  }
}
</script>
