<template>
  <ul class="list-group">
   

    <li class="list-group-item">
      Shipping:
      <span v-if="!freeShipping"> Ksh {{shipping }}</span>
      <em v-if="freeShipping"> Free Shipping</em>
    </li>

    <li class="list-group-item">Taxes: Ksh {{taxes }}</li>

    <li class="list-group-item">
      <strong>Total:</strong>
      <strong v-if="!totalDiscount">Ksh {{total }}</strong>
      <span v-if="totalDiscount">
        <strike>Ksh {{total + 100 }}</strike>
        <strong> Ksh {{totalWithDiscount }}</strong>
      </span>
    </li>
  </ul>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'itemsQuantity',
      'subtotal',
      'taxes',
      'shipping',
      'total'
    ]),
    ...mapState({
      productDiscount: state => state.shoppingCart.productDiscount,
      freeShipping: state => state.shoppingCart.freeShipping,
      totalDiscount: state => state.shoppingCart.totalDiscount
    }),
    totalWithDiscount () {
      let total = this.$store.getters.total
      return total > 0 ? this.total : 0
    }
  }
}
</script>
