<template>
  <div class="card text-xs-center">
    <img class="card-img-top" src="http://placehold.it/230x180" :alt="product.title">
    <div class="card-block">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">Ksh {{product.price }} - Stock: {{product.inventory}}</p>
      <add-to-cart :product="product"></add-to-cart>
    </div>
  </div>
</template>

<script>
import AddToCart from './AddToCart'

export default {
  props: {
    product: Object
  },
  components: { AddToCart }
}
</script>
<style type="text/css">
  
</style>